<!--Nav Bar-->
<div class="sticky">
    <div class="header">
        <a href="https://fund.fsci.in">
        <div class="logo">
            <img src='{{"img/fscilogoheader.svg" | absURL }}' alt="fsci" />
            <h2>FSCI</h2>
        </div>
        </a>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn" style="align-items:center;">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="menu">
            <a href="/">Home</a>
            <!-- Donate Page -->
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href="donate">Donate</a>
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href="contributors">Contributors</a>
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href="/#contact">Contact</a>
            
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
</div>
